* {
  background-image: none;
  box-shadow: none;
}

window {
  background-color: rgba(12, 12, 12, 0.7);
}

button {
  margin: 4px;
  border-radius: 4px;
  border-color: #404040;
  color: #FFFFFF;
  background-color: #1E1E1E;
  border-style: solid;
  border-width: 2px;
}

button:focus, button:active, button:hover {
  background-color: #404040;
  outline-style: none;
  text-decoration-color: #000000;
}