* {
  background-image: none;
  box-shadow: none;
}

window {
  background-color: rgba(12, 12, 12, 0.7);
}

button {
  margin: 4px;
  border-radius: 4px;
  border-width: 2px;
  border-style: solid;
  border-color: #404040;
  text-decoration-color: #FFFFFF;
  color: #FFFFFF;
  background-color: #1E1E1E;
}

button:focus, button:active, button:hover {
  outline-style: none;
  border-color: #00ddee;
  text-decoration-color: #000000;
}

#lock {
    background-image: image(url("icons/lock.svg"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("icons/logout.svg"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("icons/suspend.svg"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("icons/hibernate.svg"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("icons/shutdown.svg"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("icons/reboot.svg"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
